﻿<%@ Page Title="Home Page" Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="PhonelistApp._Default" %>

<html>
    <head>
      <title>Phonelist App</title>
    </head>
    <body>
      <p>This is the phonelist app.</p>
    </body>
</html>