﻿*
    {
        font-family:Calibri;
        color:#444;
        margin:0;
        padding:0;
        }
    body
    {
        background:#eee;
        }
    #main
    {
        margin:2em auto;
        text-align:left;
        padding:1em;
        background:#fff;
        width:95%;
        max-width:1000px;
        }
    h1, h2, h3, h4, h5, h6, h1 span, h2 span, h3 span, h4 span, h5 span, h6 span
    {
        font-family:Rockwell;
        font-weight:normal;
        color:#18d;
        margin:.5em 0 .2em 0;
        }
        
    h1 span, h2 span, h3 span, h4 span, h5 span, h6 span
    {
        font-family:Rockwell;
        color:#18d;
        }
      #itcontext
      {
          background:#eee;
          border-radius:5px;
          padding:.3em;
          text-align:left;
          font-size:14px;
          margin:1em 0 0 0;
          width:60%
          } 
     #itcontext, #itcontext span, #itcontext div, #itcontext li
     {
          test-transform:uppercase;
          color:#888;
         }
         
       #ITDetails
       {
           display:none;
           }
        #ITDetails li
       {
           list-style: none;
           }
           
    label
    {
        font-size:16px;
        display:inline-block;
        margin-left:1em;
        color:#666;
        }
    span.fieldTitle
    {
        width:10em;
        font-size:16px;
        display:inline-block;
        color:#666;
        
        }
    select
    {
        width:20em;
        color:#18d;
        font-size:16px;
        padding:.1em .2em;
        }
    option
    {
        width:20em;
        color:#444;
        font-size:16px;
        }
    input
    {
        width:20em;
        padding:.1em .2em;
        font-size:16px;
        color:#444;
        }
    input[type=submit]
        {
        font-size:23px;
        width:40% !important;
        margin: 15px 2.5% !important;
        }
     input:read-only
     {
         border:none;
         margin:1px;
         color:#999;
         }
     input[type="submit"]:disabled {
    opacity:.3;
}

#displayname, #username
    {
    color:#f0f;
    }
        
   #modifyDetails
   {
       display:none;
       }
       

    .formSection div
    {
        padding:4px 0 4px 5px;
        border-bottom:1px #ddd solid;
        border-top:1px #fff solid;
        background:#fff;
        }
    .formSection div span
     {
       display:inline-block;
       margin-left:.5em;
     }
        
     /* MODIFIED VALID FIELD STYLING ----------------------*/
     #modifyDetails div.modified
     {
       background:#dfd;
       color:#2a2;
       border-top: 1px #fff solid;
       border-bottom: 1px #2a2 solid;
     }
     #modifyDetails .modified span
     {
       color:#2a2;
       font-style:italic;
     }
    #modifyDetails  .modified input
     {
       color:#2a2;
       border: 1px #2a2 solid;
     }
     #modifyDetails .modified label
     {
       color:#2a2;
     }
     
    /* MODIFIED INVALID */
     #modifyDetails div.modified.error
     {
       background:#fdd;
       color:#a22;
       border-top: 1px #fff solid;
       border-bottom: 1px #a22 solid;
     }
      #modifyDetails .modified.error span
     {
       color:#a22;
       font-style:italic;
     }
    #modifyDetails .modified.error input
     {
       color:#a22;
       border: 1px #a22 solid;
     }
     #modifyDetails .modified.error label
     {
       color:#a22;
     }
     /* ------------------------------------------- */
     
     /* -------- FORM VALIDATION ------------*/
     input.error
     {
         border:1px #f00 solid;
         }
     
     
     /* -------- END FORM VALIDATION ------------*/
     
     
     #StatusContainer
     {
         position:relative;
         display:none;
         margin:0;
         padding:0;
         }
     #StatusBar
     {
         background:#dfd;
         color:#090;
         font-weight:bold;
         font-size:20px;
         text-align:center;
         padding:.3em 0;
         position:absolute;
         top:-1.6em;
         width:100%;
         }
         